@import
	url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,600,500,300,200,100,800)
	;

body {
	font-family: "sans serif";
}

.text-uppercase {
	font-family: "sans serif";
}

.form-control {
	margin-left: 700px;
	width: 400px;
}

.btn {
	margin-left: 700px;
	margin-right: 320px;
	width: 400px;
	text-transform: uppercase;
}

section {
	padding: 40px 0;
	background: #fff;
	font-family: "sans serif";
	text-transform: uppercase;
	text-algin: center;
}

.divider {
	width: 100%;
	margin: 20px auto 15px;
	position: relative;
	height: 1px;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1, 1);
}

.divider::after {
	height: 1px;
	background: #e8e8e8;
	background: -moz-linear-gradient(left, transparent 0, rgba(0, 0, 0, 0.09)
		35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0, transparent),
		color-stop(35%, rgba(0, 0, 0, 0.09)),
		color-stop(70%, rgba(0, 0, 0, 0.09)), color-stop(100%, transparent));
	background: -webkit-linear-gradient(left, transparent 0, rgba(0, 0, 0, 0.09)
		35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
	background: -o-linear-gradient(left, transparent 0, rgba(0, 0, 0, 0.09)
		35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
	background: -ms-linear-gradient(left, transparent 0, rgba(0, 0, 0, 0.09)
		35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
	background: linear-gradient(to right, transparent 0, rgba(0, 0, 0, 0.09)
		35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
	position: absolute;
	bottom: -1px;
	content: "";
	width: 100%;
	left: 0;
}

h2 {
	color: #4C4C4C;
	word-spacing: 5px;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 30px;
	font-family: 'Raleway', sans-serif;
}

.ion-minus {
	padding: 0px 10px;
}

#blog {
	background-color: #f6f6f6;
}

#blog .blog.column a {
	color: #5db4c0;
	text-decoration: none;
}

#blog img:hover {
	opacity: 0.8;
}

@media only screen and (max-width: 600px) {
	.btn {
		width: 30%;
		margin-left: 180px;
	}
	.form-control {
		margin-left: 180px;
	}
}